---
# task/configure file for manage_netplan
- name: "Copy netplan configuration template into {{ manage_netplan_config_file }}"
  ansible.builtin.template:
    src: etc_netplan.yaml.j2
    dest: "{{ manage_netplan_config_file }}"
    mode: '0644'
    owner: root
    group: root
    backup: true
  when: manage_netplan_configuration != []
  become: true
  notify:
    - "netplan-generate"
    - "netplan-apply"
